* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.newRepo {
    height: 100vh;
    width: 100%;
    color: #fff;
    background-color: #0d1117;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.createRepo {}

.heading {
    margin-top: 30px;
    border-bottom: 1px solid rgb(197, 196, 196);
    padding-bottom: 8px;

}

.heading h1 {
    margin-bottom: 10px;
}

.heading p {
    font-size: 17px;
    font-weight: lighter;
    color: #949698;
    font-style: italic;

}

.heading p a {
    color: skyblue;
    text-decoration: underline;
}



h2 {
    margin-top: 17px;
    margin-bottom: 10px;
}

.repoName {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.repoName .owner {}

.owner p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;

}

.owner .id {
    background-color: rgba(199, 198, 198, 0.138);
    height: 40px;
    width: 150px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid rgb(209, 205, 205);

}

.name {
    display: flex;
    flex-direction: column;
}

.name label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.name input {
    width: 500px;
    height: 40px;
    padding: 5px;
    border-radius: 8px;
    border: .5px solid rgb(78, 77, 77);
    background-color:#0d1117 ;
    color: #fff;
    font-size: 18px;

}

.desc {
    margin-bottom: 15px;
        color: #949698;
}

.description {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(197, 196, 196);}

.description label {
    font-size:18px ;
    font-weight: 600;
    margin-bottom: 8px;
}

.description label span {
    font-weight: lighter;
    font-style: italic;
}

.description input {
    height: 40px;
    border-radius:8px ;
    background-color: #0d1117;
    border: .5px solid rgb(78, 77, 77) ;
    color: #fff;
        font-size: 18px;
        padding: 5px;
}

.description p {
    color: #949698;
    font-weight: lighter;
    margin-left: 8px;
    margin-bottom: 25px;

}

.visibility h2{
    margin-top: 30px;

}




.public label{
    margin-left: 10px;
    font-size: 17px;
    font-weight: 600;
}

.public p {
    margin-left: 20px;
    color: #949698;
    margin-bottom: 10px;
    font-style: italic;
}


.private label{
    margin-left: 10px;
        font-size: 17px;
        font-weight: 600;
}

.private p{
    margin-left: 20px;
        color: #949698;
        margin-bottom: 10px;
        font-style: italic;
        margin-bottom: 10px;
}


.repobtn{
    height: 40px;
    padding: 5px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color:#29903b ;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}