* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}

.dashboard {
    height: 91vh;
    width: 100%;
    background-color: #0d1117;
    color: #e8e7e7;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 20px 30px;
}

.leftSection {
    width: 25%;
    padding: 10px;
    border-right: 1px solid ;
}

.leftSection h3 {
    font-size: 25px;
    margin-top: 10px;

}

.suggestSearch input {
    width: 60%;
    margin-top: 10px;
    height: 35px;
    padding: 10px;
    font-size: 17px;
    background-color: #0d1117;
    border: 1px solid #737272;
    border-radius: 10px;
    margin-bottom: 20px;

}

.reponame {
    margin-bottom: 15px;
}

.reponame h4{
    font-size: 19px;
}

.reponame p {
    margin-left: 20px;
    color: #737272;
}

.middleSection {
    width: 50%;
    padding-inline: 25px;
}

.search input {
    width: 100%;
        height: 35px;
        padding: 10px;
        font-size: 17px;
        background-color: #0d1117;
        border: 1px solid #737272;
        border-radius: 10px;
        margin-bottom: 20px;
        color: #fff;
}

#repoDiv {
    background-color: rgba(91, 90, 90, 0.121);
    padding: 10px;
    border: 1px solid #4d4c4c;
    border-radius: 10px;
    height: 100px;
}

#repoDiv h4 {
    font-size: 24px;
    font-weight: 400;
}

#repoDiv a {
    color: skyblue;
}

.rightSection {
    width: 25%;
    border-left: 1px solid #fff;
    padding-inline: 25px;
}

.rightSection #title {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.trending{
    margin-bottom: 10px;
    border: 1px solid #5f5d5d;
    padding-block: 10px;
    padding-inline: 5px;
    background-color: black;
    border-radius: 10px;

}

.trending p{
    color: #4d4c4c;
}

