* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}

.dashboard {
    height: 100vh;
    width: 100%;
    background-color: #0d1117;
    color: #e8e7e7;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 20px 30px;
}