* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.dashboard {
    height: 100vh;
    width: 100%;
    background-color: #0d1117;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}