.profilepage{
    height: 100vh;
    width: 100%;
    background-color:#0d1117 ;
    color: #fff;
    display: flex;

    justify-content: center;
}

.header {
  
    width: 40%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid rgb(211, 205, 205);
    
}

.header p {
    font-size: 20px;
}

.header div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}