.profilepage{
    height: 100vh;
    width: 100%;
    background-color:#0d1117 ;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
  
    width: 40%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid rgb(211, 205, 205);
    
}

.header p {
    font-size: 20px;
}

.header div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.header .logout {
    height: 40px;
    width: 100px;
    font-size: 18px;
    border-radius: 13px;
    font-weight: 600;
    background-color:#29903b ;
    color: #fff;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        transition: all 0.1s ease;
        /* Smooth transition for the effect */
}


.header .logout:active{
    transform: translateY(2px);
        /* Moves the button down 2px */
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.15);
        /* Smaller shadow to look "pressed in" */
        background-color: #0e4918;
        /* Slightly darker color when pressed */
}
.profileDetails {

  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  margin-top: 10px;
}

.profileDetails .imgDiv {
    height: 200px;
    width: 200px;
        margin-top: 20px;
    border-radius: 50%;
    margin-bottom: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.imgDiv img {
    height: 100%;
    width:100%;
    object-fit: contain;


}

.profileDetails h3 {
    font-size: 40px;
    margin-bottom: 20px;
}

.profileDetails .followbtn{
    width: 200px;
    height: 40px;
    background-color: #29903b;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    margin-bottom: 20px;
}

.profileDetails .fam {
    display: flex;
    padding: 10px;
    gap: 15px;
    font-size: 18px;
    font-weight: 600;
}