.profilepage{
    height: 100vh;
    width: 100%;
    background-color:#0d1117 ;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
  
    width: 40%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid rgb(211, 205, 205);
    
}

.header p {
    font-size: 20px;
}

.header div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.profileDetails {

  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  margin-top: 10px;
}

.profileDetails .imgDiv {
    height: 200px;
    width: 200px;
    background-color: rgb(192, 188, 188);
    margin-top: 20px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 2px solid white;

}

.profileDetails h3 {
    font-size: 40px;
    margin-bottom: 20px;
}

.profileDetails .followbtn{
    width: 200px;
    height: 40px;
    background-color: #29903b;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    margin-bottom: 20px;
}

.profileDetails .fam {
    display: flex;
    padding: 10px;
    gap: 15px;
    font-size: 18px;
    font-weight: 600;
}