 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main {
    height: 100vh;
    width: 100%;
    background-color: #0d1117;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.signupBox {
background-color:#3b414a3e ;   
 display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px  30px;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
}

.signupBox label{
    color: #fff;
    font-size: 20px;
}

.signupBox input {
    height: 30px;
    width: 300px;
}



