 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main {
    height: 100vh;
    width: 100%;
    background-color: #0d1117;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.signupBox {
background-color:#3b414a3e ;   
 display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px  30px;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
}

.signupBox div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.signupBox label{
    color: #fff;
    font-size: 20px;
    font-weight: 100;
}

.signupBox input {
    height: 40px;
    width: 300px;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 10px;
    background-color: #0d1117;
    border: none;
    border: 1px solid #fff;
}

.signupBox button {
    height: 35px;
    width: 250px;
    border-radius:10px ;
    background-color: rgb(50, 49, 49);
    border: none;
    color: #fff;
    font-size: 18px;
    border: 1px solid #fff;
}

.gitLogo{
    margin-bottom: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.gitLogo img {
    height: auto;
    width: 70px;
}

.gitLogo h2{
    color: #fff;
    font-size: 26px;
}

.loginBox {
    height: 100px;
    width: 350px;
    border-radius: 20px;
    border: 0.1px solid white;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.loginBox a {
    text-decoration: none;
    color: rgb(44, 79, 234);
}

.loginBox p {
    color: #fff;

}






